version: "3.9"

services:
  postgres:
    environment:
      POSTGRES_DB: incidentsdb_test
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d incidentsdb_test"]

  backend:
    environment:
      NODE_ENV: test
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/incidentsdb_test?schema=public
      REDIS_URL: redis://redis:6379
      JWT_ACCESS_SECRET: super_access_secret
      JWT_REFRESH_SECRET: super_refresh_secret
      USE_COOKIE_REFRESH: "false"
